$hauteur-en-tete:4.5em;
$marge-en-tete : 0.2em;
$taille-menu:15em;
$marge-menu:0.2em;

$couleur-en-tete : aquamarine;
$couleur-navigation : #1d3030;
$couleur-texte-navigation : white;
$couleur-tableau : purple;

