.contenu-principal{
    width:70%;
    margin:0.4em;
}
.blog{
    @include flex-colonne;
    p{
        @include flex-colonne;
        label{
            color:blue;
            @include texte-centre;
        }
        input{
            @include texte-centre;
        }
        #id_description{
            height:10em;
        }
    }
    #id_note{
        display:flex;
        @include texte-centre;
        justify-content: space-around;
        
    }
    
}