.haut-de-page{
    text-align: center;
    background-color: aquamarine;
}

.barre-laterale{
    position: fixed;
    height: 100%;
    width: $taille-menu;
    top: $hauteur-en-tete; 
    left: 0;
    background-color: #1d3030;
    color:  #ffffe6;
    padding-top: $marge-menu + 1em;
    padding-left: $marge-menu;
    padding-right: $marge-menu;
    @include mise-en-forme-bouton(black)
}

.texte-centre{
    @include texte-centre;
}

.contenu-principal{
    position: fixed;
    left:$taille-menu + 0.5em;
    width:100%;
}

.tableau{
    width : 100%;
    table-layout: auto;
    .titre{
        font-weight: bold;
    }
    tr{
        text-align: center;        
    }
}