.haut-de-page{
    position: fixed;
    z-index:3;
    right : 0;
    top:0;
    width : 100%;
    height : $hauteur-en-tete;
    text-align: center;
    background-color: $couleur-en-tete;
}

.barre-laterale{
    position: fixed;
    top: $hauteur-en-tete+$marge-en-tete; 
    height: 100%;
    width: $taille-menu;
    left: 0;
    background-color: $couleur-navigation;
    color:  $couleur-texte-navigation;
    padding-top: $marge-menu;
    padding-left: $marge-menu;
    padding-right: $marge-menu;
    @include mise-en-forme-bouton(black)
}

.texte-centre{
    @include texte-centre;
}

.contenu-principal{
    position : relative;
    z-index:1;
    left:$taille-menu+1em;
    top : $hauteur-en-tete;
    width:100%;
}

.tableau{
    table-layout: auto;
    width : 100%;
    border-collapse: separate;
    border: 3px solid $couleur-tableau;
    margin-top : $marge-tableau;
    border-spacing: $marge-ligne-tableau;
    .titre{
        font-weight: bold;
    }
    tr{
        text-align: center;
        
        
    }
}