{% extends 'base_connecte.html' %}

{% block en-tete %}
    Gestion des utilisateurs
{% endblock en-tete %}

{% block content %}
    <p>Ici la gestion des utilisateurs</p>
    <form method="post" enctype="multipart/form-data" class="tableau">
        <table>
            <tr>
                <th>Utilisateur</th>
                <th>Nombre de ticket</th>
                <th>Nombre de critique</th>
                <th>Profil</th>
            </tr>
            <tr>
            {%for utilisateur in utilisateurs%}
                <tr>
                    <td>{{utilisateur.username}}</td>
                    <td>{{utilisateur.nombre_ticket}}</td>
                    <td>{{utilisateur.nombre_critique}}</td>
                    <td>
                        <select name="role" id="id_role">
                            {% if utilisateur.role == "Utilisateur" %}
                                <option value="Utilisateur" selected>Utilisateur</option>
                                <option value="Administrateur">Administrateur</option>
                            {% else %}
                                <option value="Utilisateur" >Utilisateur</option>
                                <option value="Administrateur" selected>Administrateur</option>
                            {% endif %}
                        </select>
                    </td>
                    <td>{{utilisateur.role}}</td>
                </tr>
            {% endfor %}
        </table>
        {% csrf_token %}
        <button type="submit">Valider les changements</button>
    </form>
{% endblock content %}
