{% extends 'base_connecte.html' %}

{% block en-tete %}
    bienvenu {{ request.user }}
{% endblock en-tete %}

{% block content %}
    <p>Vous êtes connecté !</p>
    <p>Ici la liste des derniers tickets</p>
    <!-- Affiche la liste des tickets -->
    <table class="tableau">
        <tr>
            <th>Nouveauté</th>
            <th>Nom du ticket</th>
            <th>Nombre de critique</th>
        </tr>
        {% for ticket in tickets %}
            <tr>
                <!-- Si la date du dernier log est inférieur à la création du ticket
                    Alors rajoute la notion de "nouveau" -->
                {% if request.user.last_login < ticket.date_creation %}
                    <th>nouveau</th>
                {% else %}
                    <th></th>
                {% endif %}
                <th>{{ticket.titre_ticket}}</th>
                <th>{{ticket.nombre_critique}}</th>
            </tr>
        {% endfor %}
    </table>

    <!-- Affiche la liste des critiques -->
    <p>Ici la liste des dernieres critiques</p>
    <table class="tableau">
        <tr>
            <th>Nouveauté</th>
            <th>Nom de la critique</th>
            <th>Lié au ticket</th>
        </tr>
        {% for critique in critiques %}
            <tr>
                <!-- Si la date du dernier log est inférieur à la création du critique 
                    Alors rajoute la notion de "nouveau" -->
                {% if request.user.last_login < critique.date_creation %}
                    <th>nouveau</th>
                {% else %}
                    <th></th>
                {% endif %}
                <th>{{critique.titre_critique}}</th>
                <th>{{critique.ticket.titre_ticket}}</th>
            </tr>
        {% endfor %}
    </table>


    <p>Ici les publications de mes favoris</p>
{% endblock content %}