{% extends 'base_connecte.html' %}

{% block en-tete %}
    Voir mon profil
{% endblock en-tete %}

{% block content %}
<table class="tableau-mon-profil">
    <caption> Mes Informations </caption>
    <tr>
        <td>Mon nom</td>
        <td>{{request.user}}</td>
    </tr>
    <tr>
        <td>Mon e-mail</td>
        {% if request.user.email == "" %}
            <td>Aucun email de renseigné</td>
        {% else %}
            <td>{{request.user.email}}</td>
        {% endif %}
    </tr>
    <tr>
        <td>Mon nombre de critique</td>
        <td>{{request.user.nombre_critique}}</td>
    </tr>
    <tr>
        <td>Mon nombre de ticket</td>
        <td>{{request.user.nombre_ticket}}</td>
    </tr>
    <tr>
        <td>Mon inscription</td>
        <td>{{request.user.date_joined}}</td>
    </tr>
    <tr>
        <td>Ma derniere connexion</td>
        <td>{{request.user.last_login}}</td>
    </tr>
    <tr>
        <td>Mon role</td>
        <td>{{request.user.role}}</td>
    </tr>
</table>

<table class="tableau-mon-profil tableau">
        <caption>Mes Tickets</caption>
        <tr>
            <th>Titre du ticket</th>
            <th>Nombre de critique</th>
            <th>Lien</th>
        </tr>
        {%for ticket in tickets %}
            <tr>
                <td>{{ticket.titre_ticket}}</td>
                <td>{{ticket.nombre_critique}}</td>
                <td> <a href="{% url 'affichage_dun_ticket' ticket.id %}">Aperçu</td>
            </tr>
        {% endfor %}
</table>

<table class="tableau-mon-profil tableau">
    <caption>Mes Critiques</caption>
    <tr>
        <th>Titre de la critique</th>
        <th>Nom du ticket</th>
        <th>Lien</th>
    </tr>
    {%for critique in critiques %}
        <tr>
            <td>{{critique.titre_critique}}</td>
            <td>{{critique.ticket.titre_ticket}}</td>
            <td> <a href="{% url 'affichage_dun_ticket' critique.ticket.id %}">Aperçu</td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}