{% extends 'base_connecte.html' %}

{% block en-tete %}
    Affichage du ticket : {{ticket.titre_ticket}}
{% endblock en-tete %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <!--Affichage du ticket-->
        <table class="tableau">
            <caption>Le ticket</caption>
            <tr>
                <th class="titre">Titre</th>
                <th class="titre">Illustration</th>
            </tr>
            <tr>
                <td>{{ticket.titre_ticket}}</td>
                <td rowspan="5">
                    <img src="{{ ticket.illustration.url }}"
                    alt="Image du ticket : {{ticket.titre_ticket}}"
                    title ="{{ticket.titre_ticket}}">
                </td>
            </tr>
            <tr>
                <td class="titre">Auteur</td>
            </tr>
            <tr>
                <td>{{ticket.auteur}}</td>
            </tr>
            <tr>
                <td class="titre">Description</td>
            </tr>
            <tr>
                <td>{{ticket.description}}</td>
            </tr>
        </table>

        <!--Affichage des critiques-->
        <table class="tableau">
            <caption>Critiques</caption>
            <!--Si il y a des critiques-->
            {% if critiques %}
                {% for critique in critiques %}
                    <tr>
                        <th class="titre">Note</th>
                        <th class="titre">Titre</th>
                    </tr>
                    <tr>
                        <td>{{critique.note}}</td>
                        <td>{{critique.titre_critique}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="titre">Commentaire</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{critique.commentaire}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Ecrit par : {{critique.auteur}}</td>
                    </tr>
                {% endfor %}
            <!--Si il n'y en a pas-->
            {% else %}
                <tr>
                    <th>Il n'y a pas encore de critique pour ce ticket</th>
                </tr>
                
            {% endif %}
        </table>
    </form>
    <a class="bouton" onclick="history.back();">Retour</a>
    {% if request.user == ticket.auteur%}
        <a class="bouton" href="{% url 'modification_ticket' ticket.id%}">Modifier mon ticket</a>
    {% endif %}
    <a class="bouton" href="{% url 'modification_ticket' ticket.id%}">Suivre {{ticket.auteur}}</a>
{% endblock content %}