{% extends 'base_connecte.html' %}

{% block en-tete %}
    Affichage des tickets
{% endblock en-tete %}

{% block content %}
        <table class="tableau">
            <tr>
                <th class="titre">Titre du ticket</th>
                <th class="titre">Nombre de critique</th>
                <th class="titre">Lien</th>
            </tr>
            {%for ticket in tickets %}
                <tr>
                    <td>{{ticket.titre_ticket}}</td>
                    <td>{{ticket.nombre_critique}}</td>
                    <td> <a href="{% url 'affichage_dun_ticket' ticket.id %}">Aperçu</td>
                </tr>
            {% endfor %}
        </table>
{% endblock content %}