{% extends 'base_connecte.html' %}

{% block en-tete %}
    Affichage du ticket {{ticket.id}}
{% endblock en-tete %}

{% block content %}
    <form method="post" enctype="multipart/form-data" class="affichage_ticket tableau">
        <!-- On rajoute le formulaire de création de critique -->
        <p div="titre" class="ticket_colonne_1">Titre : </p>
        <p div="resultat_titre" class="ticket_colonne_1">{{ticket.titre}}</p>
        
        <p div="description" class="ticket_colonne_1">Description : </p>
        <p div="resultat_description" class="ticket_colonne_1">{{ticket.description}}</p>
        
        <p class="illustration">Illustration : </p>
        <p class="resultat_illustration">
            <img src="{{ ticket.illustration.url }}">
        </p>
    </form>
{% endblock content %}