{% extends 'base_connecte.html' %}

{% block en-tete %}
    Affichage du ticket : {{ticket.titre_ticket}}
{% endblock en-tete %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <!--Affichage du ticket-->
        <table class="tableau">
            <caption>Le ticket</caption>
            <tr>
                <th class="titre">Titre</th>
                <th class="titre">Illustration</th>
                <th class="titre">Auteur</th>
            </tr>
            <tr>
                <td>{{ticket.titre_ticket}}</td>
                <td rowspan="5">
                    <img src="{{ ticket.illustration.url }}"
                    alt="Image du ticket : {{ticket.titre_ticket}}"
                    title ="{{ticket.titre_ticket}}">
                </td>
                <td>{{ticket.auteur}}<br><br>
                    <!--Si l'auteur est différent de l'utilisateur actuelle alors permission de le suivre-->
                    {% if request.user != ticket.auteur%}
                        <a class="bouton" href="{% url 'modification_ticket' ticket.id%}">Suivre</a>
                    <!--Sinon l'auteur est l'utilisateur actuelle alors permission de modifier le ticket-->
                    {% else %}
                        <a class="bouton" href="{% url 'modification_ticket' ticket.id%}">Modifier mon ticket</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="titre">Description</td>
            </tr>
            <tr>
                <td>{{ticket.description}}</td>
            </tr>
        </table>

        <!--Affichage des critiques-->
        <table class="tableau">
            <caption>Critiques</caption>
            <!--Si il y a des critiques-->
            {% if critiques %}
                {% for critique in critiques %}
                    <tr>
                        <th class="titre">Note</th>
                        <th class="titre">Titre</th>
                        <th class="titre">Auteur</th>
                    </tr>
                    <tr>
                        <td>{{critique.note}}</td>
                        <td>{{critique.titre_critique}}</td>
                        <td>{{critique.auteur}}<br>
                            <!--Si l'auteur est différent de l'utilisateur actuelle alors permission de le suivre-->
                            {% if request.user != critique.auteur%}
                                <a class="bouton" href="{% url 'modification_ticket' ticket.id%}">Suivre</a>
                            <!--Sinon l'auteur est l'utilisateur actuelle alors permission de modifier la critique-->
                            {% else %}
                                <a class="bouton" href="{% url 'modification_critique' ticket.id critique.id%}">Modifier ma critique</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="titre">Commentaire</td>
                    </tr>
                    <tr>
                        <td colspan="3">{{critique.commentaire}}</td>
                    </tr>
                    <tr>
                        
                    </tr>
                {% endfor %}
            <!--Si il n'y en a pas-->
            {% else %}
                <tr>
                    <th>Il n'y a pas encore de critique pour ce ticket</th>
                </tr>
                
            {% endif %}
        </table>
    </form>
    <!--Empeche l'utilisateur qui a déjà mis une critique d'acceder au lien pour en remettre une-->
    {% if critique_existante == False %}
        <a class="bouton" href="{% url 'creation_critique_liee' ticket.id%}">Créer une critique</a>
    {% endif %}
    <a class="bouton" onclick="history.back();">Retour</a>
    
    
{% endblock content %}